/* General styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
}

/* Header styles */
header {
  background-color: #5998c5;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 100px;
}

.company-name {
  font-size: 1.2rem;
  margin-top: -30px;
  text-align: end;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
}

nav a.active {
  font-weight: bold;
}

/* Main styles */
main {
  padding: 20px;
}

.contact-info {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contact-info h2 {
  color: #333;
  margin-bottom: 10px;
}

.contact-info p {
  color: #666;
  margin-bottom: 20px;
}

.contact-info ul {
  list-style: none;
  padding: 0;
}

.contact-info ul li {
  margin-bottom: 10px;
}

.contact-info ul li i {
  margin-right: 10px;
  color: #333;
}

.contact-info ul li a {
  color: #333;
  text-decoration: none;
}

.contact-info ul li a:hover {
  text-decoration: underline;
}

.social-links {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.social-links li {
  display: inline-block;
  margin-right: 10px;
}

.social-links li a {
  color: #333;
  text-decoration: none;
}

.social-links li a:hover {
  text-decoration: underline;
}

/* Footer styles */
footer {
  background-color: #74a5d3;
  color: #fff;
  text-align: center;
  padding: 20px;
}
