.store {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 2em;
}

.content-img img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

@media(max-width:768px) {
    /* .store {
        flex-direction: column;
    } */

    .content-img img {
        height: 200px;
        min-width: 200px;
        border-radius: 50%;
    }
}
